
h1{
    background-color:transparent;
    color: white;
    text-align: center;
    
}
div {
    background-color:transparent;
    border: 1px solid grey;
    width: 30%;
    text-align: center;
    height: 200px;
    margin: 20px;
}
h2{
    text-align: center;
    color: white;
    
}
.tt{
    text-align: center;
}