<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheets/index.css'%}">
    
    <title>SCHOOLAPP</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-image: url("{% static 'images/classroom.jpg'%}");
            background-size: cover;
            background-position: center;
            overflow: hidden;
            background-repeat: no repeat ;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <h1>SCHOOLAPP</h1>
    <hr>
        <div class="module">
            <br/>
            <br/>
            <a href="/adms/newadmission" ><button type="button" name="button">Newadmission</button> </a>
            <br/>
            <br/>
            <a href="/adms/admreport" ><button type="button" name="button">Admission Report</button> </a>     
        </div>
        <div class="module">
            <br/>
            <br/>
            <a href="/fees/feecoll" ><button type="button" name="button">Feecollection</button></a>
            <br/>
            <br/>
            <a href="/fees/duefee" ><button type="button" name="button">DueFEES</button> </a>     
        </div>
    <h1 style="color: blue;">Current time is :<span id="time"></span></h1>
    <hr>
</body>
<script src="{% static "js/script.js" %}"></script>
</html>